<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASyS_mou37OJ_fkHeLrrPuXVM5UAHHEqY</string>
	<key>GCM_SENDER_ID</key>
	<string>293063495986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.LoginViewCode-curso</string>
	<key>PROJECT_ID</key>
	<string>primeiro-projeto-viewcod-32f9e</string>
	<key>STORAGE_BUCKET</key>
	<string>primeiro-projeto-viewcod-32f9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293063495986:ios:b1e2549d0c6aad24dac72b</string>
</dict>
</plist>